body {
  margin: 20px 40px;
  
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/

.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/

.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/

.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/

.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

.little_red {
  width: 80px;
  background-color: red;
}

.little_blue { 
  width: 80px;
  background-color: blue;
}

.big_transparent { 
  display: flex;
  flex: 1;
}

.big_red {
  display: flex;
  flex: 1;
  background-color: red;
}

.little_red_square {
  width: 40px;
  height: 40px;
  background-color: red;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.blueRectangle {
  width: 80px;
  background-color: blue;
}

.stripContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.blueStrip {
  height: 20px;
  background-color: blue;
}

.transparentStrip {
  height: 20px;
  background-color: transparent;
}

.orangeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.stableOrangeRectangle {
  width: 120px;
  background-color: orange;
}

.unstableOrangeRectangle {
  flex: 1;
  background-color: orange;
}

.transparentRectangle {
  width: 40px;
  background-color: transparent;
}

#favicon {
  width: 50px;
  height:auto;
}

#navbar {
  width: 400px;
  height: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(219, 237, 244);
  
}

.navlink {
  text-decoration: none;
  color: darkblue;
}

.navlink:hover {
  text-decoration: underline;
}

.image_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
  background-color: lightcyan;
  gap: 10px;
}

#footer {
  width: 100%;
  background-color: lightgray;
  text-align: center;
  bottom: 0;
}

#main_body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightgoldenrodyellow;
  
}

.plexlogo {
  max-width: 50%;
  height: auto; 
  margin-left: auto;
  margin-right: auto;  
  
}

.bluebar {
  width: 100%;
  background-color: lightcyan;
}

.dark-mode {
  background-color: black;
  color: white;
}
/* TODO: Add CSS for the rest of your solution below */